body {
    min-height: 800px;
    display: flex;
    border: 8px solid;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.box {
    height: 200px;
    width: 200px;
    background-color: blue;
    font-size: 40pt;

    display: flex;
    justify-content: center;
    align-items: center;
}