/*Universal style*/
body {
    background-color: #111111;
    color: white;
}

h1 {
    font-family: monospace;
    font-size: 1.5rem;
    margin-inline: auto;
    text-align: center;
}


.author {
    text-align: center;
    margin-top: -65px;
    margin-bottom: 50px;
    opacity: 0;
    animation: fade-in 1750ms ease-out 1500ms forwards;
}

.imagebox {
    border-radius: 20px;
    max-width: 1500px;
    height: 650px;
    margin: 20px auto;

    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagebox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 75%; /* move crop upward */
  display: block;
}

.infobox {
    display:block;
    justify-content: center;
    padding: 20px;
    

    height: 900px;
    width: 500px;
    margin: 100px auto;
    overflow-wrap: anywhere;

    border-radius: 20px;
    background-color: #181818;

}

/*Portrait frames*/
.portrait {
    width: 250px;
    aspect-ratio: 1/1;
    border-radius: 500px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(160, 55, 69, 0.65);

    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
}

/*Individual portrait image adjustments*/
.portrait.sunny img { 
    width: 400px;
    height: auto;
    object-position: -125px -50px;
}

.portrait.nephis img {
    width: 400px;
    height: auto;
    object-position: -80px -10px;
}

.portrait.cassie img {
    width: 400px;
    height: auto;
    object-position: -77px -100px;
}

/*And portrait image shadows*/
.portrait.sunny {
    box-shadow: 0 10px 30px rgb(61, 61, 61, 1);
}

.portrait.nephis {
    box-shadow: 0 10px 30px rgba(136, 45, 109, 0.8);
}

.portrait.cassie {
    box-shadow: 0 10px 30px rgb(34, 30, 143, 0.8);
}


/*Cards for the columns */
.cards {
    max-width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 0 16px;
    justify-content: center;
    margin-bottom: 1px;
}

.headh3 {
    font-size: 40px; 
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin: 10px;
}

.paragraph {
    font-family:'Courier New', Courier, monospace; 
    font-size: 20px;
}

/*ASPECT SECTION*/
.background-container {
    width: 95%;
    height: 700px;
    max-height: 700px;
    margin: 40px auto;

    border-radius: 50px;

    background-image: url("Images/soul_sea.jpg");
    background-position: 47% 20%;

}

.container-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.container-img {
    width: 67%;
    height: 530px;
    justify-content: left;
    margin-left: 2%;

    box-shadow: 0 10px 30px rgb(0, 0, 0);

    border-radius: 50px;
    overflow: hidden;
}

.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 75%; /* move crop upward */
    display: block;
}

.container-info {
    width: 25%;
    max-width: 25%;
    height: 660px;
    max-height: 660px;
    display: flex;
    align-self: right;

    /*Position adjustments*/
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;

    border-top: 1px solid rgba(255,255,255, 0.4);
    border-left: 1px solid rgba(255,255,255, 0.3);
    border-radius: 50px;

    background-color: rgba(0, 0, 0, 0.144);
    backdrop-filter: blur(8px);

}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    max-width: 100%;
    overflow: wrap;

}

.info-content hr {
    width: 100%;              /* strekk hele bredden av boksen */
    border: none;             /* fjern default kant */
    border-top: 2px solid rgba(255,255,255,0.4); /* lag din egen linje */
    margin: 5px 0 10px 0;    /* litt luft rundt */
}


.info-title {
    font-size: 60px; 
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    margin: 10px;
    width: 100%;
}

.info-text {
    font-size: 25px;
    line-height: 0.7;
    text-align: left;

    /* Viktige wrap-regler */
    word-wrap: break-word;      /* gammelt navn */
    overflow-wrap: break-word;  /* moderne standard */
    hyphens: auto;              /* valgfritt: setter bindestrek ved lange ord */
}

/*Fade in effect for image from here*/
.fade-in {
    opacity: 0;
    animation: fade-in 800ms ease-out 150ms forwards;
}

@keyframes fade-in {
    to {opacity: 1;}
}

/*Fade in effect for shadow here*/
.imagebox {
    box-shadow: 0 10px 30px rgba(160, 55, 69, 0);
    animation: shadow 1s ease-out 350ms forwards;
}

@keyframes shadow {
    to {box-shadow: 0 10px 30px rgba(160, 55, 69, 0.65);}
}

/*Typewriter effect from down here*/
.typewriter {
    display: flex;
    justify-content: center;
}

.typewriter h1{
    font-family: monospace;
    font-size: 1.5rem;
    margin-inline: auto;
    overflow: hidden;
    /*Keeps it on a single line*/
    white-space: nowrap;
    /*Cursor style*/
    border-right: 1px solid;
    /*Steps = number of characters*/
    animation: typing 2s steps(12) forwards, blink 1s step-end infinite;
}



@keyframes typing {  
    from {
        width: 0;
    }

    to {
        width: 100%;
    }

}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}