body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #44444E;
}

.titles {
    color: #EEEEEE;
    background-color: black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    /* Styling */
    background-color: #EEEEEE;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
}

.textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    background-color: black;
    font-size: 15px;
    font-weight: bold;
    color: #EEEEEE;

    min-width: 704px;
}

.images {
    border: 3px solid;
    background-color: black;
}

.TBATE {
    /*Alignment*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    /*Border choice*/
    min-height: 400px;
    border: 8px solid;
    min-width: 704px;

    /* Image Style */
    background-image: url(https://w0.peakpx.com/wallpaper/806/628/HD-wallpaper-comics-the-beginning-after-the-end.jpg);
    background-size: 800px;
    background-position: contain;
}

.ORV {
    /*Alignment*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    /*Border choice*/
    min-height: 400px;
    min-width: 704px;
    border: 8px solid;

    /* Image Style */
    background-image: url(https://preview.redd.it/thoughts-on-han-sooyoung-and-yoo-joonghyuks-friendship-v0-6e2ijhn3iw2e1.png?auto=webp&s=b491582c0fb0c5e1da1bcbc3e5559999e46ae8a7);
    background-size: 1000px;
    background-position-x: -167px;
    background-position-y: -100px;
}

.SS {
    /*Alignment*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    /*Border choice*/
    min-height: 400px;
    min-width: 704px;
    border: 8px solid;

    /* Image Style */
    background-image: url(https://images.alphacoders.com/139/thumb-1920-1395677.jpg);
    background-size: 950px;
    background-position-x: -240px;
    background-position-y: -125px;
}
